.App {
  background-color: #282c34;
}
.App-header {
 color: gold;
}
.ctrlButtons {
  color: cyan;
  margin: 10px;
}
.ctrlButtons:hover {
  color: red;
  cursor: pointer;
}
.rollMenus {
  color: yellow;
}
.chooseNumber {
  margin: 10px;
  width: 50px;
  color: red;
}
#setups {
  margin: 5px;
  color: white;
}
#armiesSlots {
  display: grid;
  grid-template-columns: 50vw 50vw;
}
.grids {
  border-style: solid;
  border-color: blue;
}
.textBox {
  margin: 5px;
}
